<%- include("partials/header.ejs")  %>

  <main class="about-container">
    <div class="about-image">
      <img src="/images/goddess.jpeg" alt="Mirela Manta">
    </div>
    <div class="about-content">
      <h1>Behind the Books</h1>
      <div class="intro-section">
        <p>Hello, fellow readers! I'm <span class="highlight">Mirela</span>, a <span class="highlight">Junior Web Developer</span> with a passion for books.</p>
      </div>
      <div class="mission-statement">
        <p><span class="site-name">BookBrew</span> was born from a simple desire: to celebrate the stories that have shaped me and to inspire others to embark on their own literary journeys.</p>
        <p>Alongside my quest for literary enrichment, BookBrew serves as my personal book ledger. Because let's be honest, sometimes my memory is more fiction than the novels I cherish. <i class="fas fa-laugh-beam"></i></p>
      </div>
      <div class="personal-quote">
        <blockquote>“A reader lives a thousand lives before he dies ...” - George R.R. Martin</blockquote>
      </div>
      <section class="contact-section">
        <h3>If you want to get in touch, here are some contact details, and you can also check my social links down below.</h3>
        <p ><i class="fas fa-envelope"></i> Email: <a href="mailto:your.email@example.com">mirela.manta23@gmail.com</a></p>
        <p><i class="fas fa-phone"></i> Phone: <a href="tel:+123456789">+40787545648</a></p>
      </section>
      <a href="/" class="cta-button">Read My Reviews</a>
    </div>
  </main>

<%- include("partials/footer.ejs")  %>
